<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Book shelf API</h2>
<table border='1' cellpadding="10px"><caption><h3>Instructions:</h3></caption>
    <tr><td><b>Get all books:</b></td><td>GET /books/</td></tr>
    <tr><td><b>Get a book by ID:</b></td><td>GET /books/ID</td></tr>
    <tr><td><b>Create a book:</b></td><td>POST /books/ {"name": , "author": }</td></tr>
    <tr><td><b>Delete a book by ID:</b></td><td>DELETE /books/ID</td></tr>
    <tr><td><b>Update a book by ID:</b></td><td>PUT /books/ID</td></tr>
    <tr><td><b>Search a book:</b></td><td>GET /books/search/?name=&author=</td></tr>
</table>
</body>
</html>